html {
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  
}

:root {
  font-size: 16px;
  --black-text: hsl(264.7, 10.1%, 33.1%);
  --links: hsl(247, 100%, 85%);
}

body {
  background-color: hsla(247, 100%, 100%, 65%);
  color: var(--black-text);
  font-family: 'iA Writer Duospace', 'Gill Sans';
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, minmax(0,1fr));
  grid-gap: 20px;
}


header {
  grid-column: 1 / 13;
  grid-row: 1;
}

.left-side {
  grid-column: 1 / 6;
  grid-row: 2;
}

.right-side {
  grid-column: 7 / 13;
  grid-row: 2;
}

a {
  color: var(--black-text);
  text-decoration: none;
  border-bottom: 2px solid var(--links);
  transition: all 0.1s ease-out;
}

a:hover,
a:focus {
  border-color: transparent;
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-bottom: 0.2rem;
  font-size: 1.2rem;
  font-variant: small-caps;
}

li {
  list-style: none;
}